@model WebApp.ViewModels.MoodsInTrackViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@Base.Resources.Common.Edit</h1>

<h4>@Base.Resources.Header.MoodsInTracks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All " class="text-danger"></div>
            <input type="hidden" asp-for="MoodsInTrack.Id" />
            
            <div class="form-group">
                <label asp-for="MoodsInTrack.MoodId" class="control-label"></label>
                <select asp-for="MoodsInTrack.MoodId" class="form-control" asp-items="Model.MoodsList"></select>
                <span asp-validation-for="MoodsInTrack.MoodId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="MoodsInTrack.TrackId" class="control-label"></label>
                <select asp-for="MoodsInTrack.TrackId" class="form-control" asp-items="Model.TracksList"></select>
                <span asp-validation-for="MoodsInTrack.TrackId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="@Base.Resources.Common.Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Base.Resources.Common.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
