@model WebApp.ViewModels.TagsInTrackViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@Base.Resources.Common.Create</h1>

<h4>TagsInTrack</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All " class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="TagsInTrack.TagId" class="control-label"></label>
                <select asp-for="TagsInTrack.TagId" class="form-control" asp-items="Model.TagsList"></select>
                <span asp-validation-for="TagsInTrack.TagId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="TagsInTrack.TrackId" class="control-label"></label>
                <select asp-for="TagsInTrack.TrackId" class="form-control" asp-items="Model.TracksList"></select>
                <span asp-validation-for="TagsInTrack.TrackId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="@Base.Resources.Common.Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Base.Resources.Common.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
