@model WebApp.ViewModels.RatingsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@Base.Resources.Common.Edit</h1>

<h4>@Base.Resources.Header.Ratings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All " class="text-danger"></div>
            <input type="hidden" asp-for="Rating.Id" />
            <input type="hidden" asp-for="Rating.UserId" />
            <input type="hidden" asp-for="Rating.TrackId" />
            
            <div class="form-group">
                <label asp-for="Rating.Score" class="control-label"></label>
                <input asp-for="Rating.Score" class="form-control"/>
                <span asp-validation-for="Rating.Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating.Comment" class="control-label"></label>
                <input asp-for="Rating.Comment" class="form-control"/>
                <span asp-validation-for="Rating.Comment" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="@Base.Resources.Common.Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Base.Resources.Common.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
