@model WebApp.ViewModels.ArtistInTrackViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@Base.Resources.Common.Edit</h1>

<h4>@Base.Resources.Header.ArtistsInTracks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All " class="text-danger"></div>
            <input type="hidden" asp-for="ArtistInTrack.Id" />
            
            <div class="form-group">
                <label asp-for="ArtistInTrack.TrackId" class="control-label"></label>
                <select asp-for="ArtistInTrack.TrackId" class ="form-control" asp-items="Model.TracksList"></select>
                <span asp-validation-for="ArtistInTrack.TrackId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ArtistInTrack.UserId" class="control-label"></label>
                <select asp-for="ArtistInTrack.UserId" class="form-control" asp-items="Model.ArtistsList"></select>
                <span asp-validation-for="ArtistInTrack.UserId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ArtistInTrack.ArtistRoleId" class="control-label"></label>
                <select asp-for="ArtistInTrack.ArtistRoleId" class="form-control" asp-items="Model.ArtistRolesList"></select>
                <span asp-validation-for="ArtistInTrack.ArtistRoleId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="@Base.Resources.Common.Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Base.Resources.Common.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
